
{% extends 'base.html' %}

{% block header %}

    {% block header_fullbase %}
        
    {% endblock %}
{% endblock %}

{% block content %}
<div id="mySidebar" class="sidebar">
    <p></p>
    <a class="outer-a-sidebar" href="../">Start Here</a>
    <a class="outer-a-sidebar" href="../enrichment/start_page">Start Process</a>
    <a class="outer-a-sidebar" href="../edit/start_page">Edit Data</a>
    <a class="outer-a-sidebar" href="../analysis/start_page">Analyse Data</a>
    <a class="outer-a-sidebar" href="../about">About</a>
</div>

<div id="main">

    {% block content_fullbase %}
    
    {% endblock %}

   
</div>



{% endblock %}

<script>
    {% block javascript %}

        function openNav() {
        document.getElementById("mySidebar").style.width = "250px";
        document.getElementById("main").style.marginLeft = "250px";
        }
        
        function closeNav() {
        document.getElementById("mySidebar").style.width = "0";
        document.getElementById("main").style.marginLeft= "0";
        }

        var dropdown = document.getElementsByClassName("dropdown-btn");
        var i;

        for (i = 0; i < dropdown.length; i++) {
        dropdown[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var dropdownContent = this.nextElementSibling;
            if (dropdownContent.style.display === "block") {
            dropdownContent.style.display = "none";
            } else {
            dropdownContent.style.display = "block";
            }
        });
        };


            openNav();


        {% block javascript_fullbase %}

        {% endblock %}

    {% endblock %}
</script>

