{% extends 'full_base.html' %}

{% block header_fullbase %}

{% endblock %}

{% block content_fullbase %}

<div>
    <p>
    <h2>File Selection</h2>
    <p>Please select a file that you want to analyse </p>
    <fieldset>
        <select class="custom-select" id="file_field">
            <optgroup label="Select here...">
                {% for document in documents %}
                    <option value="{{document.id}}">{{document.file_name}}</option>
                {% endfor %}
            </optgroup>
        </select>
    </fieldset>
    <p> Reload (Check if data is ready)
    </p>
</div>
<div>
    <h2>Mode</h2>
    <p>Please choose a mode of analysing. </p>

  <h2 style="text-align:center">Text to Edit</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="/w3images/team1.jpg" alt="text" style="width:100%">
        <div class="container">
          <h2>Annotated data</h2>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>

          <p><button class="button" onclick=call_with_link("./annotation_graph")>Edit Text</button></p>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <img src="/w3images/team2.jpg" alt="Images" style="width:100%">
        <div class="container">
          <h2>Analysed data</h2>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>

          <p><button class="button" onclick=call_with_link("./context_graph")>Edit Images</button></p>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <img src="/w3images/team3.jpg" alt="tables" style="width:100%">
        <div class="container">
          <h2>Download Data</h2>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
href="path_to_file" download="proposed_file_name"
          <p>
              <a href="" download="download_file.jsonld">
                <button type="button">Edit Tables</button>
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<script>


    // Get the relevant attributes.
    let document_id = $('#file_field :selected');
    $("a").attr("href", site + "\/?id=" + document_id.val());

    
    function call_with_link(site) {

        // Get the relevant attributes. 
        let document_id = $('#file_field :selected');
        window.location.href = site + "\/?id=" + document_id.val();
    }

        

    </script>
{% endblock %}


{% block javascript_fullbase %}
    
{% endblock %}