
{% extends 'enrichment_base.html' %}

{% block header_enrichmentbase %}

{% endblock %}

{% block content_enrichmentbase %}

<div class="section">
    <h1>Edit text </h1>
    <p>Some text about who we are and what we do.</p>
    <p>Resize the browser window to see that this page is responsive by the way.</p>
  </div>
  
  <h2 style="text-align:center">Text to Edit</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="/w3images/team1.jpg" alt="text" style="width:100%">
        <div class="container">
          <h2>Text</h2>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>

          <p><button class="button" onclick="window.location.href='./edit_text'">Edit Text</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="/w3images/team2.jpg" alt="Images" style="width:100%">
        <div class="container">
          <h2>Images</h2>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>

          <p><button class="button" onclick="window.location.href='./edit_images'">Edit Images</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="/w3images/team3.jpg" alt="tables" style="width:100%">
        <div class="container">
          <h2>Tables</h2>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>

          <p><button class="button" onclick="window.location.href='./edit_tables'">Edit Tables</button></p>
        </div>
      </div>
    </div>
  </div> 

{% endblock %}

{% block javascript_enrichmentbase %}

{% endblock %}

                