
{% extends 'full_base.html' %}

{% block content_fullbase %}


  

    <h1>Introduction</h1>
        <p>
          This tool allows the enrichment of tribological publications with additional information. It enables data extraction from publications, annotating the data with predefined concepts, and analyzing deep connections between these concepts based on the document.
        It was deeper described as part of the publication "A Semantic Annotation Pipeline towards the Generation of Knowledge Graphs in Tribology", as part of a set of tools that allow the structuring of the knowledge in the area of tribology.
  </p>
    <h1>Overview</h1>
        <p>
            To use and showcase this tool open the sidebar on the left side. It allows accessing different subpages that enable various tasks, like starting a new enrichment process, editing and analyzing available data, and downloading enriched data.

        </p>
    <h1>Other</h1>
        <p>
           For questions please contact Patricia Kügler.
        </p>
{% endblock %}