
{% extends 'enrichment_base.html' %}

{% block header_enrichmentbase %}

{% endblock %}

{% block content_enrichmentbase %}

<div class="section">
    <div>
        <button onclick=prev('./edit_images') style="width: 20%;"> Previous</button>
        <button onclick=call_with_link('./edit_document') style="width: 20%;"> Go back</button>
        <button onclick=update('./update_document') style="width: 20%;"> Save as table</button>
        <button onclick=next('./edit_images') style="width: 20%;"> Next</button>
    </div>

  </div>
  <div style="height: 10px;"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md">
            <div class="pdf_viewer">
                <img src="{{image_base_64}}" width="100%" height="auto">
            </div>
        </div>
      <div>
        <div class="col-md">
                <div class="row">
                    <div class="col-md">


                    <table id="image_table" class="table">
                        <thead>
                            <th class="non_editable">Tableheader</th>
                            <th contenteditable>Company</th>
                            <th contenteditable>Contact</th>
                            <th contenteditable>Country</th>
                        </thead>
                        <tr>
                            <td class="non_editable"> Datarow 1</td>
                            <td contenteditable>Alfreds Futterkiste</td>
                            <td contenteditable>Alfreds Futterkiste</td>
                            <td contenteditable>Alfreds Futterkiste</td>
                        </tr>
                        <tr>
                            <td class="non_editable">Datarow 2</td>
                            <td contenteditable>Alfreds Futterkiste</td>
                            <td contenteditable>Alfreds Futterkiste</td>
                            <td contenteditable>Alfreds Futterkiste</td>
                        </tr>
                    </table>


              <div class="btn-group d-flex w-100" role="group" aria-label="...">
                    <button type="button" onclick=new_row() class="w-100" > New Row</button>
                    <button type="button" onclick=new_column('./update_document') class="w-100" > New Column</button>
                    <button type="button" onclick=delete_row('./edit_document') class="w-100" > Delete last Row</button>
                    <button type="button" onclick=delete_column('./edit_document') class="w-100" > Delete last Column</button>
                        </div>
                    </div>
                    <div class="w-100"></div>
                    <div class="row">




                    </div>
                </div>
        </div>
    </div>
      <p id="hiddenid" hidden>{{id}}</p>
<p id="hiddenpage_number" hidden>{{num}}</p>
<p id="type" hidden>{{type}}</p>
</div>

{% endblock %}

{% block javascript_fullbase %}
    let rows = 2;
    let columns = 3;
    function new_row() {
        rows += 1;
        var table_data = '<tr> <td class="non_editable"> Datarow ' + rows + '</td>';
        for (let i = 0; i < columns; i++){
            table_data += '<td contenteditable>Alfreds Futterkiste</td>';
        }
        table_data += '</tr>';
            $('#image_table > tbody:last-child').append(table_data);

    };


    function new_column() {

        $('#image_table').find('tr').each(function(){
                $(this).find('td').eq(columns).after('<td contenteditable>new cell added</td>');
           });
        $('#image_table').find('thead').each(function(){
                $(this).find('th').eq(columns).after('<th contenteditable>new cell added</th>');
           });
        columns += 1;
    };

    function delete_row(){
        if (rows > 1){
            $('#image_table').find('tr:last').each(function(){
                $(this).remove()
            });
        rows -= 1;
        };

    }

    function delete_column(){
        if (columns > 1){
        $('#image_table').find('tr').each(function(){
            $(this).find('td').eq(columns).remove();
        });
        $('#image_table').find('thead').each(function(){
            $(this).find('th').eq(columns).remove();
        });
        columns -= 1;
        }
    }
    function call_with_link(site) {

        // Get the relevant attributes.
        let document_id = $('#hiddenid').text();
        let pagenum = $('#hiddenpage_number').text();
        let type = $('#type').text();

         window.location.href = site +
                            "\/?id=" + document_id +
                            "&num=" + pagenum +
                            "&type=" + type;
    }


    function prev(site) {

        // Get the relevant attributes.
        let document_id = $('#hiddenid').text();
        let pagenum = parseInt($('#hiddenpage_number').text()) - 1;
        let type = $('#type').text();

         window.location.href = site +
                            "\/?id=" + document_id +
                            "&num=" + pagenum +
                            "&type=" + type;
    }


    function next(site) {

        // Get the relevant attributes.
        let document_id = $('#hiddenid').text();
        let pagenum = parseInt($('#hiddenpage_number').text()) + 1;
        let type = $('#type').text();


         window.location.href = site +
                            "\/?id=" + document_id +
                            "&num=" + pagenum  +
                            "&type=" + type;

    }

    function update(site) {
        var document_id = $('#hiddenid').text();
        var pagenum = $('#hiddenpage_number').text();
        var type = $('#type').text();
        let table = $('image_table').val();

        var table_data = {}

        table_data[0] = []
        $('#image_table').find('thead').each(function(){
            $(this).find('th').each(function(){
                table_data[0].push($(this).text());
            });
        });

        var i = 0;
        $('#image_table').find('tr').each(function(){
            i += 1;
            table_data[i] = []
            $(this).find('td').each(function(){
                table_data[i].push($(this).text());
            });
        });

        $.ajax({
            type: "PUT",
            url: site + "/?itemid=" + document_id ,
            contentType: "application/json",
            data: JSON.stringify({"document_id": document_id,
                                    "num": pagenum,
                                    "type": type,
                                    "data": {"table": table_data},
                                    })
        });
        }



{% endblock %}

                